    body {
    background-image: url('background_pic/game_background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 80%;  
    height: 100%;
    margin: 0 auto;  
    display: flex;
    flex-direction: column;        
    padding: 50px;
    justify-content: center;
    font-family: "Bytesized", sans-serif;
    font-style: normal;
    text-align: center;
}

h1 {    
    color: #FFB26F;
    font-size: 50px;
    font-weight: 700;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#game-container {
    flex-direction: column;
    align-items: center; 
    justify-items: center;
}

label {
    color: #FFB26F;
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
}

input {
    width: 200px;
    height: 30px;
    background-color: #8E7DBE;
}

#submitPlayerBtn {
    padding: 8px 24px;
    margin: 0 10px;
    background-color: #8E7DBE;
    font-family: "Bytesized", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

p, h4 {
    color: #FFB26F;
    font-size: 30px;
    font-weight: 600;
}

#submitPlayerBtn:hover, #restartBtn:hover, #stopBtn:hover, #backToHomeBtn:hover {
    background-color: #624E88;
    animation: slowBounce 1.5s ease-in-out infinite;
}

#restartBtn, #stopBtn, #backToHomeBtn {
    padding: 16px 30px;
    margin: 0 10px;
    font-family: "Bytesized", sans-serif;
    font-size: 24px;
    font-weight: 700;
    background-color: #8E7DBE;
    color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer {
    margin-top: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8E7DBE;
    padding: 12px 24px;
    font-size: 28px;
}

@media screen and (max-width: 425px) {
    body {
        padding: 10px;
        margin: auto;
    }
    h1 {
        font-size: 30px;
    }
    label, p {
        font-size: 20px;
        font-weight: 500;;
    }
    input {
        width: 200px;
        height: 25px;
    }
    #submitPlayerBTn {
        padding: 5px 15px;
        font-size: 16px;
    }
    #restartBtn, #stopBtn, #backToHomeBtn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 20px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .footer {
        display: inline-block;
        font-size: 24px;
        padding: 8px 16px;
    }
}

@media screen and (max-width: 768px) {
    #restartBtn, #stopBtn, #backToHomeBtn {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 12px 20px;
      font-size: 20px;
      margin-bottom: 10px;
    }
    .footer {
      padding: 12px 16px;
      font-size: 24px;  
    }
}